.root {
    position: fixed;
    height: 25%;
    width: 25%;
}
.menuButton {
    margin: 20px;
}
.tb {
    background-color: black;
}
.title {
    color: #ffd800;
    flex-grow: 1;
}
.children {
    margin-top: 50px;
    height: 95%;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .children {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
body {
    background-color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    color: black;
}
button {
    font-family: 'Russo One', sans-serif;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 26px;
    font-size: 16px;
    color: #ffd800;
    background-color: black;
    border: 1px;
    border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');